{{ range .Site.Menus.main.ByWeight }}
  <a href="{{ .URL }}">{{ .Name }}</a>
{{ end }}
<a href='{{ absURL "index.xml" }}'>RSS</a>

<!-- Convert this page's translations into a dict -->
{{ $translations := dict }}
{{ range .Translations }}
  {{ $translations = merge $translations (dict .Language.Lang .) }}
{{ end }}

<!-- Create a link to every translation -->
{{ range site.Home.AllTranslations }}
  {{ if ne .Language.Lang $.Page.Lang }}
    {{ with (index $translations .Language.Lang) }}
      <a href="{{ .RelPermalink }}">{{ .Language.Label }}</a>
    {{ else }}
      <!-- The complicated setup was necessary to make a grayed out link -->
      {{ if not $.Site.Params.hideUntranslated }}
        <a class="disabled" role="link" aria-disabled="true">{{ .Language.Label }}</a>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
